<%inherit file="main.html" />

<script type="text/javascript">
    $(document).ready(function () {

        setTimeout(function(){
            window.location.href ="/"
            }, 5000);
    });
  </script>
<h1>Thank you For Registration</h1>
<h3>The page will auto redirect to course page after 5 seconds</h3>
<a href="/">Redirect to Course Page</a>
<!-- <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkillAssure - Discoveri Registration</title>
    <link href="/Content/css?v=gacMCzX3e_w9L9Y-u-J40XNEu3x6G3tWWXhLGj4dN1A1" rel="stylesheet"/>

    <script src="/bundles/modernizr?v=wBEWDufH_8Md-Pbioxomt90vm6tJN2Pyy9u9zHtWsPo1"></script>


    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="/Content/bootstrap-datepicker.css" rel="stylesheet" />
    <style>
        .navbar-fixed-top {
            background-color: #ffffff !important;
            height: 68px;
            /* margin-bottom: 54px; */
            box-shadow: 3px 2px 8px 1px rgba(158, 158, 158, 0.3607843137254902);
        }

        body {
            font-family: 'Roboto', sans-serif !important;
            /*background-image: url('../../Content/Images/about-pratian.jpg');*/
        }

        #loginLink {
            background: #577ca2;
            color: white;
            width: 114px;
            text-align: center;
            font-size: 17px;
            height: 42px;
            /* vertical-align: middle; */
            padding: 10px;
        }
    </style>
</head>
<body>            
<style>

    body {
        font-family: 'Roboto', sans-serif !important;
        /*background-image: url('../../Content/Images/about-pratian.jpg');*/
        margin-top: 67px;
    }

    .control-label {
        margin-left: 16px;
        margin-bottom: 8px !important;
    }

    input.form-control, select.form-control {
        margin-bottom: 13px;
        border: 1px solid #8080805c;
        /* border-bottom: 1px solid #80808059 !important; */
        border-radius: 0;
        font-size: 16px;
        height: 43px;
    }

    .btn-success {
        border-radius: 0;
        font-size: 16px;
        height: 43px;
        background-color: #153e67;
        border-color: #1c3e67;
        margin: auto;
    }

        .btn-success:hover {
            background-color: #153e67;
            border-color: #1c3e67;
        }

    #register-form {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        margin: auto;
    }
</style>

<div id="register-form" style="position: inherit;overflow: hidden;">

    <div class="modal-content col-lg-12" style="border-radius:0; border:1px solid rgba(158, 158, 158, 0.2901960784313726);">
<form action="/" method="post"><input name="__RequestVerificationToken" type="hidden" value="u_YgE-6Grcd2KD2_aiEOOgzLp8AxipUuGaGnHQgQ35f112RACfBa5tFMZXMy4sUV88uUAqQYlYwOhkphITbmCNVsmLW6SiWgcLBI5gRJ1HQ5x6uaNeeFQxAvXVYbdUBWnfn7h9b-txQszOxU3kIOcQ2" />    
        <div class="form-horizontal">
                <h2>Registration</h2>
                <hr />                                                
                <h1>User Name = ${post_data}</h1>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-lg-4">
                        <label class="control-label" for="FirstName">First Name *</label>
                        <span class="required" />
                        <div class="col-lg-12">
                            <input autocomplete="new-text" class="form-control text-box single-line" data-val="true" data-val-regex="Use letters only" data-val-regex-pattern="^[a-zA-Z\s]+$" data-val-required="Please select First Name." id="FirstName" name="FirstName" placeholder="First Name" type="text" value="" required />
                            <span class="field-validation-valid text-danger" data-valmsg-for="FirstName" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <label class="control-label" for="MiddelName">Middle Name</label>
                        <span />
                        <div class="col-lg-12">
                            <input autocomplete="new-text" class="form-control text-box single-line" data-val="true" data-val-regex="Use letters only" data-val-regex-pattern="^[a-zA-Z\s]+$" id="MiddelName" name="MiddelName" placeholder="Middle Name" type="text" value="" />
                            <span class="field-validation-valid text-danger" data-valmsg-for="MiddelName" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <label class="control-label" for="LastName">Last Name *</label>
                        <span class="required" />
                        <div class="col-lg-12">
                            <input autocomplete="new-text" class="form-control text-box single-line" data-val="true" data-val-regex="Use letters only" data-val-regex-pattern="^[a-zA-Z\s]+$" data-val-required="Please select Last Name." id="LastName" name="LastName" placeholder="Last Name" type="text" value="" required/>
                            <span class="field-validation-valid text-danger" data-valmsg-for="LastName" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                </div>

                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-lg-4">
                        <label class="control-label" for="DOB">Date Of Birth *</label>
                        <span class="required" />
                        <div class="col-lg-12">
                            <input autocomplete="off" class="form-control datepicker text-box single-line" data-val="true" data-val-date="The field Date Of Birth * must be a date." data-val-required="Please select Date Of Birth." id="dob" name="DOB" type="date" value="" required />
                            <span class="field-validation-valid text-danger" data-valmsg-for="DOB" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="control-label" for="ContactNumber">Contact Number *</label>
                        <span class="required" />
                        <div class="col-lg-12">
                            <input autocomplete="new-text" class="form-control text-box single-line" data-val="true" data-val-phone="The Contact Number * field is not a valid phone number." data-val-regex="Not a valid phone number" data-val-regex-pattern="^(\d{10})$" data-val-required="Please select Contact Number." id="ContactNumber" name="ContactNumber" placeholder="Eg: 9845198451" type="tel" value="" required/>
                            <span class="field-validation-valid text-danger" data-valmsg-for="ContactNumber" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="control-label" for="EmailId">Email ID *</label>
                        <span class="required" />
                        <div class="col-lg-12">
                            <input autocomplete="new-email" class="form-control text-box single-line" data-val="true" data-val-email="The Email ID * field is not a valid e-mail address." data-val-required="Please select Email Id." id="EmailId" name="EmailId" placeholder="Eg: abc@example.com" type="email" value="" required />
                            <span class="field-validation-valid text-danger" data-valmsg-for="EmailId" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-lg-4">
                        <label class="control-label" for="IDProof">Identity Type *</label>
                        <span class="required" />
                        <div class="col-lg-12">
                            <select class="form-control" data-val="true" data-val-required="Please select Identity Type." id="IDProof" name="IDProof"><option value="">--Select The ID Type--</option>
<option value="Aadhar">Aadhar</option>
<option value="Driving License">Driving License</option>
<option value="Voter ID">Voter ID</option>
<option value="Passport">Passport </option>
<option value="PAN Card">PAN Card</option>
</select>
                            <span class="field-validation-valid text-danger" data-valmsg-for="IDProof" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="control-label" for="IDNO">Identity No. *</label>
                        <span class="required" />
                        <div class="col-lg-12">
                            <input autocomplete="new-text" class="form-control text-box single-line" data-val="true" data-val-required="Please select Identity No." id="IDNO" name="IDNO" placeholder="Identity Number" type="text" value="" required/>
                            <span class="field-validation-valid text-danger" data-valmsg-for="IDNO" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="control-label" for="CollegeName">College Name *</label>
                        <span class="required" />
                        <div class="col-lg-12">
                            <input autocomplete="new-text" class="form-control text-box single-line" data-val="true" data-val-required="Please select College Name." id="CollegeName" name="CollegeName" placeholder="College Name" type="text" value="" required/>
                            <span class="field-validation-valid text-danger" data-valmsg-for="CollegeName" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">

                    
                </div>

                <div class="clearfix"></div>
                <hr />
                <div class="clearfix"></div>
                <div class="row">


                    <div class="col-lg-4">
                        <label class="control-label" for="Drive">Drive *</label>
                        <span class="required" />
                        <div class="col-lg-12">
                            <select class="form-control" data-val="true" data-val-required="Please select the Drive." id="Drive" name="Drive"><option value="">--Select Drive--</option>
<option value="Campus Drive">Campus Drive</option>
<option value="Off Campus Drive">Off Campus Drive</option>
</select>
                            <span class="field-validation-valid text-danger" data-valmsg-for="Drive" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <label class="control-label" for="SourceName">Information Source *</label>
                        <span class="required" />
                        <div class="col-lg-12">
                            <select class="form-control" data-val="true" data-val-required="Please select Information Source." id="SourceName" name="SourceName"><option value="">--Select The Reference--</option>
<option value="Freshers World">Freshers World</option>
<option value="Aspiring Minds">Aspiring Minds</option>
<option value="Reference">Reference</option>
<option value="Friends">Friends</option>
<option value="Walk-In">Walk-In</option>
<option value="NA">Others</option>
</select>
                            <span class="field-validation-valid text-danger" data-valmsg-for="SourceName" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="col-lg-4 hidden" id="OtherSource">
                        <label class="control-label" for="InformationSource">Specify Information Source *</label>
                        <span class="required" />
                        <div class="col-lg-12">
                            <input autocomplete="new-text" class="form-control text-box single-line" data-val="true" data-val-required="Please specify Other Source." id="InformationSource" name="InformationSource" placeholder="" type="text" value="" required/>
                            <span class="field-validation-valid text-danger" data-valmsg-for="InformationSource" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    

                    

                </div>


                <div class="clearfix"></div>
                <hr />
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="control-label" for="Qualification">Qualification *</label>
                        <span class="required" />
                        <div class="col-lg-12">
                            <select class="form-control" data-val="true" data-val-required="Please select Qualification." id="Qualification" name="Qualification"><option value="">--Select Qualification--</option>
<option value="MSC">MSC</option>
<option value="MCA">MCA</option>
<option value="M-Tech">M-Tech</option>
<option value="BE">BE</option>
<option value="B-Tech">B-Tech</option>
<option value="BCA">BCA</option>
<option value="BSC">BSC</option>
</select>
                            <span class="field-validation-valid text-danger" data-valmsg-for="Qualification" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label class="control-label" for="StreamOrBranch">Stream/Branch *</label>
                        <span class="required" />
                        <div class="col-lg-12">
                            <input class="form-control text-box single-line" data-val="true" data-val-regex="Use letters only" data-val-regex-pattern="^[a-zA-Z\s]+$" data-val-required="Please select Stream Or Branch." id="StreamOrBranch" name="StreamOrBranch" placeholder="Eg: CS, IT, EEE, EC, Mechanical, Architecture" type="text" value="" required/>
                            <span class="field-validation-valid text-danger" data-valmsg-for="StreamOrBranch" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label class="control-label" for="YearOfPassing">Year Of Passing *</label>
                        <span class="required" />
                        <div class="col-lg-12">
                            <select class="form-control" data-val="true" data-val-required="Please select Year Of Passing." id="YearOfPassing" name="YearOfPassing"><option value="">--Select Year Of Passing--</option>
<option value="2018">2018</option>
<option value="2019">2019</option>
<option value="2020">2020</option>
<option value="2021">2021</option>
<option value="2022">2022</option>
</select>
                            <span class="field-validation-valid text-danger" data-valmsg-for="YearOfPassing" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <label class="control-label" for="Backlogs">Backlogs *</label>
                        <span class="required" />
                        <div class="col-lg-12">
                            <input Checked="checked" data-val="true" data-val-required="Please select Backlogs." id="Backlogs" name="Backlogs" type="radio" value="No" /> <label for="No">No</label> &nbsp;&nbsp;&nbsp;
                            <input id="Backlogs" name="Backlogs" type="radio" value="Yes" /> <label for="Yes">Yes</label>
                            <span class="field-validation-valid text-danger" data-valmsg-for="Backlogs" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
                <hr />
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="control-label" for="TenthPercentage">10th % *</label>
                        <span class="required" />
                        <div class="col-lg-12">
                            <input autocomplete="new-text" class="form-control text-box single-line" data-val="true" data-val-range="Please enter only number and &lt;br/> No % symbol and &lt;br/> max to 2 decimal point: (Eg: 95.45)" data-val-range-max="100" data-val-range-min="0.01" data-val-required="Please select Tenth Percentage." id="TenthPercentage" name="TenthPercentage" placeholder="Eg: 85.25" type="text" value="" required/>
                            <span class="field-validation-valid text-danger" data-valmsg-for="TenthPercentage" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <label class="control-label" for="TwelvePercentage">12th/PUC/Diploma % *</label>
                        <span class="required" />
                        <div class="col-lg-12">
                            <input autocomplete="new-text" class="form-control text-box single-line" data-val="true" data-val-range="Please enter only number and &lt;br/> No % symbol and &lt;br/> max to 2 decimal point: (Eg: 95.45)" data-val-range-max="100" data-val-range-min="0.01" data-val-required="Please select Twelfth Percentage." id="TwelvePercentage" name="TwelvePercentage" placeholder="Eg: 85.25" type="text" value="" required/>
                            <span class="field-validation-valid text-danger" data-valmsg-for="TwelvePercentage" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <label class="control-label" for="GraduationPercentage">Grad % *</label>
                        <span class="required" />
                        <div class="col-lg-12">
                            <input autocomplete="new-text" class="form-control text-box single-line" data-val="true" data-val-range="Please enter only number and &lt;br/> No % symbol and &lt;br/> max to 2 decimal point: (Eg: 95.45)" data-val-range-max="100" data-val-range-min="0.01" data-val-required="Please select Graduation Percentage." id="GraduationPercentage" name="GraduationPercentage" placeholder="Eg: 85.25" type="text" value="" required/>
                            <span class="field-validation-valid text-danger" data-valmsg-for="GraduationPercentage" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <label class="control-label" for="PostGraduationPercentage">Post Grad %</label>
                        <span />
                        <div class="col-lg-12">
                            <input autocomplete="new-text" class="form-control text-box single-line" data-val="true" data-val-range="Please enter only number and &lt;br/> No % symbol and &lt;br/> max to 2 decimal point: (Eg: 95.45)" data-val-range-max="100" data-val-range-min="0.01" id="PostGraduationPercentage" name="PostGraduationPercentage" placeholder="Eg: 85.25" type="text" value="" required/>
                            <span class="field-validation-valid text-danger" data-valmsg-for="PostGraduationPercentage" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                </div>

                <div class="clearfix"></div>
                <hr />
                <div class="clearfix"></div>
                <div class="col-lg-12">
                    <div class="col-lg-12">
                        <input type="submit" value="Submit" class="btn btn-success btn-block" />
                    </div>
                </div>
                <div class="clearfix"></div>
                <br />
                <div class="clearfix"></div>
            </div>
</form>    </div>

</div>

<script src="/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/Scripts/Create.js"></script>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <hr />
        <footer>
            <p style="font-weight:bold;">&copy; 2020 - SkillAssure</p>
        </footer>
    </div>

    <script src="/bundles/jquery?v=FVs3ACwOLIVInrAl5sdzR2jrCDmVOWFbZMY6g6Q0ulE1"></script>

    <script src="/bundles/bootstrap?v=2Fz3B0iizV2NnnamQFrx-NbYJNTFeBJ2GM05SilbtQU1"></script>

    <script src="/Scripts/bootstrap-datepicker.min.js"></script>
    
    <script src="/bundles/jqueryval?v=hEGG8cMxk9p0ncdRUOJ-CnKN7NezhnPnWIvn6REucZo1"></script>

    <script>
        $(function () {
            //$('#myModal').modal('toggle');
        });
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

    </script>

</body>
</html>-->
